* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin: 0;
}


 .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 400px;
 }

 .sqw{
  width: 16px;
  height: 16px;
  background-color: #111;
  margin: 2px;
  box-shadow: 0 0 2px;
  transition: 2s ease-in-out;
  /* display:  inline-block; */
 }

 .sqw:hover{
  transition-duration: 0s;
 }
 #board {
  display: grid;
  grid-template-columns: repeat(100, 1fr);
}